 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

h1{
    font-family: 'Oswald', sans-serif;
    font-size: 200px;
    color: #66FCF1;
    text-align: center;
}

body{
    background-color: #0B0C10;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    background-color: #0B0C10;
}

.center-text{
    text-align: center;
    color: white;
}

.logo{
    font-size: 20px;
    color: white;
}

.nav-links{
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav-links a:hover{
    border-bottom: 4px solid #45A29E;
}

.nav-links li{
    list-style: none;
}

.menu li{
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin : 5px;
}

.button{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #808080;
    padding: 8px; 
    text-decoration: none;
}

.profilepic{
    display: block;
    margin: 0 auto;
    padding-top: 2em;
    object-fit: cover;
    height: 100%;
    border-radius: 50%;
}

.title{
    position: relative;
    text-align: center; 
}

.subtitle{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
}

.about{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 600px;
    color: white;
}

.about a{
    text-decoration: none;
    color: #007bb5;
    border-bottom: 1px solid #DCDCDC;
}

.about a:hover{
    border-bottom: 1px solid #374785;
}

.project-entry{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 20px;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 600px;
    color: #66FCF1;
}

.project-entry p{
    font-size: 16px;
    color: white;
}

.project-tags{
    font-size: 14px;
    padding-bottom: 10px;
    color: #45A29E;
}

.project-entry a{
    text-decoration: none;
    color: #45A29E;
}

.project-entry a:hover{
    border-bottom: 1px solid #45A29E;
}

.project_pic{
    display: block;
    margin: 0 auto;
    padding-top: 2em;
    object-fit: cover;
    height: 100%;
}
.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
}

.footer-description{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    color: #C5C6C7;
}

.footer li{
    list-style: none;
    margin: 0 15px;
}

.footer ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer ul li{
    padding-top: 15px;
    display: inline-block;
}

.footer ul li a{
    color:#45A29E;
    font-size: 25px;
}
